<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对某个java接口文件进行描述，两者之间的关系一一对应-->
<!-- namespace属性指明对应的java接口文件，全类名 -->
<mapper namespace="com.hqyj.seven.dao.CustomerDao">
    <update id="updataByCustomerIdToremainder" parameterType="com.hqyj.seven.pojo.Customer">
        update customer set remainder=remainder-#{money} where customer_id=#{id}
    </update>
    <select id="queryByCustomer" resultType="com.hqyj.seven.pojo.Customer">
        select * from customer where customer_id=#{CustomerId}
    </select>
    <select id="queryAll" resultType="com.hqyj.seven.pojo.Customer">
        select * from customer
    </select>

    <select id="queryByCusName" resultType="com.hqyj.seven.pojo.Customer">
        select * from customer where name = #{name}
    </select>

    <update id="updataOneCus" parameterType="com.hqyj.seven.pojo.Customer">
        update customer set customer_id = #{customer_id},name  = #{name}
        ,card = #{card},phone = #{phone},mobile = #{mobile},remainder = #{remainder}
        where customer_id = #{customer_id}
    </update>
    <insert id="insertOneCus" parameterType="com.hqyj.seven.pojo.Customer">
        insert into  customer(customer_id,name,card,phone,mobile,remainder)
        value (#{customer_id},#{name},#{card}, #{phone},#{mobile},#{remainder})
    </insert>
    <delete id="deleteOneCus" parameterType="com.hqyj.seven.pojo.Customer">
        delete from customer where customer_id = #{customer_id}
    </delete>
</mapper>