<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqyj.seven.dao.Feedao">




    <insert id="inserintoFee" parameterType="com.hqyj.seven.pojo.Fee">
        insert into fee (enter_id,direct,coustomer_id,money,house_id,description,user_id,fee_type)
            value
            (#{enterId},#{direct},#{coustomerId},#{money},#{houseId},#{description},#{userId},
            #{fee_type})
    </insert>
   <select id="queryByHouseIdAndCoustomerId" resultType="com.hqyj.seven.pojo.Fee">
       select  fee_id feeId,enter_id enterId,direct,coustomer_id coustomerId,money,house_id houseId,description,user_id  userId,fee_type from  fee where  house_id=#{houseId} and coustomer_id=#{coustomerId} order by fee_id DESC limit 1
   </select>
  <update id="updateByFeeId" parameterType="com.hqyj.seven.pojo.Fee">
      update  fee set direct='未缴费',fee_type='待缴费' where fee_id=#{feeId}
  </update>

    <select id="queryByDirect" resultType="com.hqyj.seven.pojo.Fee">
        select  fee_id feeId,enter_id enterId,direct,coustomer_id coustomerId,money,house_id houseId,description,user_id  userId,fee_type
        from  fee where  direct=#{direct}
    </select>


</mapper>