<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--对某个Java接口文件进行描述，两者之间的关系一一对应-->
<!--namespace属性指定对应的java接口文件，全类名-->
<mapper namespace="com.hqyj.seven.dao.HouseDao">
    <select id="queryByHousename" resultType="com.hqyj.seven.pojo.House">
        select * from house where name=#{name}
    </select>
    <update id="updateByHouseName" parameterType="com.hqyj.seven.pojo.House">
       update house set state='已定',customer_id=#{customerId} where name=#{name}
    </update>


    <resultMap id="customerResultMap" type="com.hqyj.seven.pojo.Enter">
        <id column="house_id" property="house_id"/>
        <result column="customer_info" property="customer_info"/>
        <result column="start_time" property="start_time"/>
        <result column="end_time_actual" property="end_time_actual"/>
        <result column="end_time_estimate" property="end_time_estimate"/>
        <result column="user_id" property="user_id"/>
        <result column="state" property="state"/>
        <collection property="customers" ofType="com.hqyj.seven.pojo.Customer">
            <id column="customer_id" property="customer_id"/>
            <result column="name" property="name"/>
            <result column="mobile" property="mobile"/>
        </collection>
    </resultMap>

<!--    根据enter入住表查询客户基本信息-->
    <select id="queryInter" resultMap="customerResultMap">
        select e.house_id,e.customer_info,e.start_time,e.end_time_actual,
        e.end_time_estimate,e.user_id,e.state,
        c.name,c.mobile,c.customer_id
        from enter e
        LEFT JOIN customer c on e.customer_id = c.customer_id
        where e.house_id = #{house_id}
   </select>

    <select id="queryAllHouseI" resultType="com.hqyj.seven.pojo.House">
        select * from house
    </select>


    <update id="updateHouse" parameterType="com.hqyj.seven.pojo.House">
         update house set house_id = #{houseId},name=#{houseName},amount=#{amount},
         price=#{price},floor_id=#{floorId},state=#{state} where house_id = #{houseId}
    </update>

    <insert id="insertHouse" parameterType="com.hqyj.seven.pojo.House">
           insert into house (house_id,name,amount,price,floor_id,state,customer_id) value
            (#{house_id},#{hname},#{amount},#{price},#{floor_id},#{state},#{customer_id})
    </insert>

    <delete id="deleteHouse">
        delete from house where house_id = #{house_id}
    </delete>
    <update id="updateByHouseNametocheckIn" parameterType="com.hqyj.seven.pojo.House">
        update house set state='入住',customer_id=#{customerId} where name=#{name}
    </update>

</mapper>