<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <!--        这里配置的算法和迭代此地，和MD5Util是一致的-->
        <property name="hashAlgorithmName" value="MD5"/>
        <property name="hashIterations" value="1000"/>
    </bean>
    <!-- MyShiroRealm bean 配置-->
    <bean id="myShiroRealm" class="com.hqyj.seven.realm.MyShiroRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>
    <!-- 配置shiro核心组件 SecurityManager -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- 我们自定义的认证域对象注入到SecurityManager对象中-->
        <property name="realm" ref="myShiroRealm"/>
    </bean>
    <!-- shiro过滤器，用于授权 -->
    <!-- 这里的id shiroFilter 和web.xml中配置的代理过滤器的名称一致-->
    <!--    当已经认证的用户访问系统资源时，检查所具有的权限 如果有访问权限
            授权通过,允许访问吧，反之，拒绝访问
            web应用收权限-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--        没有认证过的用户,访问受限资源时，shiro直接跳转该配置的url-->
        <property name="loginUrl" value="/login"/>
        <!--        已认证过但是没有访问权限的用户 访问受限资源时 shiro直接跳转到该处置的url-->
        <property name="unauthorizedUrl" value="/unauthorized"/>
        <property name="successUrl" value="/index"/>
        <property name="filterChainDefinitions">
            <value>
                <!-- 静态资源路径 -->
                /static/**=anon
                <!-- 登录界面 -->
                /login.jsp=anon
                <!-- 公共样式和脚本引入文件 -->
                /common.jsp=anon
                <!-- 登录接口 -->
                /user/login=anon
                <!-- 后台主界面 -->
                /index=authc
                <!-- 欢迎页面列表 -->
                /welcome=authc
                <!-- 个人信息页面 -->
                /person=authc
                <!-- 操作员列表 -->
                /userList=authc
                <!-- 房间列表 -->
                /houseList=authc
                <!-- 订房列表 -->
                /reservationList=authc
                <!-- 入住列表 -->
                /checkInList=authc
                <!-- 未缴费列表 -->
                /unpaidList=authc
                <!-- 已缴费列表 -->
                /paidList=authc
                <!-- 客户列表 -->
                /customerList=authc
                <!-- 待打扫列表 -->
                /cleanList=authc
                <!-- 待维修列表 -->
                /maintainList=authc
<!--                /**=authc-->
            </value>
        </property>
    </bean>
</beans>